DATABASE_URL="postgres://c56fca8ebb5d2ba6782329c2cf2ade1ff8e1b77d673facd2deed87c6592c5086:sk_ip0sCfSIzJc6vh0kAzaFh@db.prisma.io:5432/postgres?sslmode=require"
JWT_SECRET="replace-with-at-least-32-random-bytes"
AUTH_BYPASS_ENABLED="false"
ADMIN_NAME="Admin"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="replace-with-a-strong-unique-password"
ADMIN_DEPARTMENT="PMO"
